

body{
    font-size: 16px;
}

.wrapper{
width:100%;
height:100vh;
background-image:url('../img/back.png');
background-size:cover;
background-position: center;
background-repeat: no-repeat;
overflow-y:hidden;
display: flex;
align-items: center;
flex-direction: column;


}

#icon ul{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#container_left{
    float:left;
    width:46%;
    height:621px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mask{
    position: absolute;
    width:100%;
    height:100vh;
    top:0;
    background-color:rgba(0, 0, 0, 0.5);
}

#menu , #icon{
    width:7%;
    height:100%;
    display: flex;
    align-items: center;
    color:white;
    font-weight: 900;
    justify-content: space-between;
}

header #subject{
    width: 10%;
    height:100%;
    color:white;
    font-weight: 900;
    font-size: 2.25em;
}

#container_left #subject{
    width:79%;
    height:147px;
    font-size: 8.750em;
    font-weight: 900;
    color:white;
}

#slide_button{
    width:14.79289940828%;
    background:orchid;
    height:33px;
}

#mini_message{
    width:39%;
    height:47px;
    background:blue;
}

#view_more{
    width:14.79289940828%;
    height:23px;
    background:orange;
}


header{
width:77%;
margin:auto;
position: fixed;
z-index: 99;
left:11%;
top:63px;
height:45px;
display: flex!important;
justify-content: space-between;
}

.wrapper .container{
width:77%;
height:621px;
background:yellow;
margin:auto;
}













