.wrapper{
 border:5px solid black;
 margin:auto;
 width:60%;
 height:500px;
}

.wrapper header{
    border-bottom: 1px solid gray;
    width:100%;
    height:50px;
}

.wrapper header p{
    width:95%;
    margin:auto;
    line-height: 50px;
}

#section_1 , #section_3{
  width:100%;
  height:50px;
  font-size:20px;
}

#section_1 p , #section_3 p{
    line-height: 50px;
    text-align: center;
    border-bottom:1px solid gray;
}

#section_2{
    width:100%;
    height:200px;
    border-bottom:1px solid gray;
}

