.pop_bg-copy {
    z-index:999;
    display:none;
    position:fixed;
    top:50%; left:50%;
    transform: translate(-50%,-50%);

    padding: 30px 30px 30px 30px;
    width: 741px;
    height: 615px;
    border-radius: 8px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #c6c6cb;
    background-color: #f6f6f6;
}

.JH-4 {
    width: 51px;
    height: 29px;
    font-family: DINAlternate;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:skyblue;
}

.close {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.dimmed {
    width: 1440px;
    height: 920px;
    opacity: 0.4;
    background-color: #000000;
}

.VESSEL-SEARCH {
    height: 29px;
    font-family: DINAlternate;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d0d0d;
  }
