@charset "utf-8";


/*** reset ***/
html {-webkit-text-size-adjust:none;}
html, body, div, ul, ol, li, dl, dt, dd, p, strong, span, em, a, table, th, td, caption, input, button, textarea, label, form, legend, fieldset, select, hr, h1, h2, h3, h4, h5, h6, img {padding:0; margin:0; border:0; color:inherit; background:none; line-height:inherit; font-size:inherit; font-family:inherit}
html, body {height:100%; min-height:100%; font-size:16px; color:#fff; font-weight:300; letter-spacing:-0.04em; line-height:1.6; font-family:'HelveticaNeue-Light','Apple SD Gothic Neo','Malgun Gothic','맑은 고딕',sans-serif !important; }
#wrap {min-height:100%; background:#2d579b; background:-moz-linear-gradient(-45deg, #2d579b 0%, #3068a3 0%, #191f58 100%); background:-webkit-linear-gradient(-45deg, #2d579b 0%, #3068a3 0%, #191f58 100%); background:linear-gradient(135deg, #2d579b 0%, #3068a3 0%, #191f58 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d579b', endColorstr='#191f58', GradientType=1)}
body,
#wrap {}
header, footer, nav {display:block;}
table {width:100%; border-collapse:collapse; border-spacing:0;}
th, td {vertical-align:middle}
input {-webkit-appearance:none; border-radius:0; color:#353535; background-color:transparent;}
*:focus {outline:none;}
select, button {cursor:pointer}
ul, ol {list-style:none;}
img {max-width:100%; vertical-align:top;}
a {color:inherit; text-decoration:none}
em {font-style:normal}
strong {font-weight:400}
input, button, textarea {box-sizing:border-box}
/*
@media all and (min-width:768px) and (max-width:1024px){
  html, body {font-size:calc(1vw + 1vh + 1vmin)}
}
*/
/*** common ***/
.hidetxt {font-size:0; line-height:0; text-indent:-9999px;}
.blind {position:absolute; top:-9999px; left:-9999px; width:1px; height:1px; overflow:hidden; opacity:0.1; font-size:0; line-height:0; text-indent:-9999px;}
.fl {float:left;}
.fr {float:right;}
.ovf {overflow:hidden;}
.after:after {display:block; width:100%; height:0; overflow:hidden; clear:both; content:'';}
.bg {background:#ad8f51;}
.bd {border-color:#ad8f51;}
.emph {color:#ad8f51;}
.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.fwb {font-weight:bold; font-weight:600;}
.lts0,
.num,
.datetime {letter-spacing:0;}
.block {display:block;}
.fitsize {max-width:none}

input::-ms-input-placeholder {color:#aaa; font-size:0.8em}
input::-webkit-input-placeholder {color:#aaa; font-size:0.8em }
input::-moz-placeholder {color:#aaa; }
textarea::-ms-input-placeholder {color:#aaa; font-size:0.8em }
textarea::-webkit-input-placeholder {color:#aaa; font-size:0.8em }
textarea::-moz-placeholder {color:#aaa; font-size:0.8em }

.ico_comm {font-size:0; line-height:0; text-indent:-9999px; }
.ico_comm,
.ico_bfr::before,
.ico_aft::after {display:inline-block; vertical-align:top; border-radius:100%; background:#fff;}
.new {display:inline-block; width:0.875rem; height:0.875rem; background:#ff6d15; border-radius:100%; }

.slt_comm {display:inline-block; position:relative; box-sizing:border-box; background:#fff}
.slt {display:block; width:100%; position:relative; opacity:0; z-index:9}
.slt_cover {position:absolute; top:0; left:0; bottom:0; width:100%; z-index:8; text-indent:0.625rem; background:url(../_img/slt.png) right 50% no-repeat; text-align:left}
.btn_comm {display:block; width:100%; line-height:2.5rem; background:#007bff; text-align:center; border-radius:0.25rem; color:#fff}
.btn_gr {display:block; width:100%; line-height:2.5rem; background:#2fc09f; text-align:center; border-radius:0.25rem; color:#fff}
.link_line {display:inline-block; line-height:1.875rem; border:1px solid #fff; border-radius:0.125rem; text-align:center; padding:0 0.6875rem; vertical-align:top}
.thumb {overflow:hidden;}

/* layout */
#contents {padding:1.875rem 0.875rem 4.0625rem;}
#header {position:relative; padding:2.625rem 0 1rem; border-bottom:1px solid rgba(255,255,255,0.2); text-align:center;}
#header h1 {font-size:1.2rem; text-align:center; font-weight:bold; line-height:1.25rem;}
#header h1::before {display:inline-block; width:2.125rem; height:1.25rem; margin-right:0.375rem; background:url(../_img/logo.png) 50% 50% no-repeat; vertical-align:top; background-size:100% 100%; content:''}
#header .sltbox {position:absolute; top:0.3125rem; left:0.3125rem; border-radius:0.5rem; background:#848bb7;}
#header .sltbox .slt {min-width:7rem; height:1.375rem; padding-right:0.75rem;}
#header .sltbox .slt_cover {background:url(../_img/slt1.png) right 50% no-repeat; background-size:auto 0.3125rem}
#header .tit {font-weight:normal; font-size:1.2rem;}
#header .back {position:absolute; bottom:1.125rem; left:0.875rem; width:1rem; height:1.5625rem; background:url(../_img/back.png) 50% 50% no-repeat; font-size:0; line-height:0; text-indent:-9999px; background-size:cover}
#header .link_right {position:absolute; bottom:1.125rem; right:0.875rem; font-size:0.8rem;}
#menu {display:none; position:fixed; top:0.625rem; right:0.625rem; width:8.75rem; border-radius:0.1875rem; background:#fff; color:#333; overflow-y:auto; z-index:999}
#menu .d1 + .d1 {border-top:1px solid #ddd}
#menu .d1 {padding:0.625rem 0}
#menu li {padding:0.1875rem 0;}
#menu a {display:block; line-height:1.875rem; padding:0 0.625rem; font-size:0.9rem;}
#menu a .new {font-size:0; line-height:0; text-indent:-9999px; vertical-align:top; margin:0.5rem 0 0 0.125rem;}
#menu a .new em {display:block; line-height:0.875rem; color:#fff; font-weight:bold; text-align:center; font-size:0.625rem; text-indent:0;}
#menu .d2 li {position:relative; padding-left:1.5625rem;}
#menu .d2 li::before,
#menu .d2 li::after {position:absolute; top:50%; background:#999; content:'';}
#menu .d2 li::before {width:0.5rem; height:1px; left:0.875rem;}
#menu .d2 li::after {width:1px; height:0.5rem; left:0.875rem; margin-top:-0.5rem}
#menu .d2 a {padding-left:0;}
#ftBar {position:fixed; bottom:0; left:0; width:100%; height:3.125rem; background:#efefef; z-index:9999}
#ftBar ul {overflow:hidden;}
#ftBar li {float:left; width:25%; text-align:center;}
#ftBar li a {display:block; padding:0.9375rem 0;}
#ftBar li .ico_comm {width:1.25rem; height:1.25rem; vertical-align:top; background:#333}

.wrap_frm {margin-top:1.875rem;}
.wrap_frm dl + dl {margin-top:1rem;}
.wrap_frm label {display:block; line-height:1.375rem;}
.wrap_frm label:before {width:0.875rem; height:0.875rem; margin:0.25rem 0.25rem 0 0; content:''}
.wrap_frm dt + dd {margin-top:0.1875rem;}
.wrap_frm dd input {display:block; width:100%; height:2rem; border-bottom:1px solid rgba(255,255,255,0.4); background-color:transparent; padding:0 0.375rem; color:#fff}
.wrap_frm dd input:focus {background:#fff; background:rgba(255,255,255,0.8); color:#222}
.wrap_frm .f_ctfi dd {overflow:hidden;}
.wrap_frm .f_ctfi dd .wrap_inp {float:left; width:calc(100% - 9.85rem); margin-right:0.5em;}
.wrap_frm .f_ctfi dd .wrap_captcha {overflow:hidden; height:2.5rem; background:#fff;}
.wrap_frm .wrap_btn {margin:1.875rem auto 0;}
@media (max-width:400px){
  .wrap_frm .f_ctfi dd .wrap_inp {float:none; width:100%;}
  .wrap_frm .f_ctfi dd .wrap_captcha {margin-top:0.5rem;}

}

.info_current {font-size: 0}
.info_current dl {display:inline-block; width:50%; font-size:1rem; vertical-align:top; text-align:center; box-sizing:border-box;}
.info_current dt {font-size:0.8rem; margin-bottom:0.25rem;}
.info_current dl + dl {border-left:1px solid rgba(255,255,255,0.3)}

.tab {overflow:hidden; background:#3c5a90}
.tab li {float:left; width:33.333%; text-align:center;}
.tab li a {display:block; line-height:2.625rem;}
.tab .on a {background:#6a82ae; line-height:2.5rem; border-top:0.125rem solid #fff}
.cont_tab {padding:0.875rem; background:#6a82ae}

.ft_asset {position:fixed; bottom:3.125rem; left:0; width:100%; height:3.125rem; background:#fff; border-top:#eee; z-index:9999}
.ft_asset ul {overflow:hidden;}
.ft_asset li {float:left; width:25%; text-align:center; opacity:0.6}
.ft_asset li.on {opacity: 1}
.ft_asset li a {display:block; padding:0.5rem 0; color:#333; font-size:0.75rem}
.ft_asset li a::before {display:block; width:0.9375rem; height:0.9375rem; margin:0 auto 0.25rem; background:#333; content:''}

/* paging */
.paging {margin:2.5rem auto 0.625rem; text-align:center; font-size:0; color:#fff}
.paging * {display:inline-block; vertical-align:top;}
.paging ul {border:1px solid rgba(255,255,255,0.5); border-radius:0.25rem}
.paging ul li + li {border-left:1px solid rgba(255,255,255,0.5)}
.paging ul a {width:2.875rem; height:2.875rem; line-height:2.875rem; font-size:1.2rem; letter-spacing:0; font-family:'arial';}
.paging ul a.on {font-weight:bold; background:rgba(255,255,255,0.2)}
@media (max-width:280px){
    .paging ul {display:flex; flex-wrap:nowrap;}
    .paging ul li {display:flex; width:20%; align-items: center;}
    .paging ul li a {width:100%; height:auto; font-size:1.1rem; line-height:3vh}
}

/* cont */

.login {padding-top:2.5rem;}
.login h1 {font-size:2.1875rem; text-align:center; font-weight:bold;}
.login h1:before {display:block; width:6.25rem; height:3.75rem; margin:0 auto 0.625rem; background:url(../_img/logo.png) 50% 50% no-repeat; background-size:100% auto; content:''}
.login .links {margin-top:0.75rem; overflow:hidden;}

.main #contents {padding-top:0}
.main .hd_cont {padding:0.75rem 0;}
.main .hd_cont .user {display:inline-block; vertical-align:top; font-size:0;}
.main .hd_cont .user .thumb {display:inline-block;  width:2.75rem; height:2.75rem; margin-right:0.625rem; border-radius:100%; overflow:hidden; vertical-align:top}
.main .hd_cont .user .userid {display:inline-block; vertical-align: top; font-size:1rem; line-height:2.75rem;}
.main .hd_cont .btn_menu {position:relative; float:right; width:1.625rem; height:1.375rem; font-size:0; line-height:0; text-indent:-9999px; background:url(../_img/menu.png) 50% 50% no-repeat; background-size:100% 100%;}
.main .hd_cont .btn_menu .new {position:absolute; top:-0.3125rem; right:-0.3125rem;}
.main .hd_cont .btn_menu .new em {display:block; line-height:0.875rem; font-size:0.6875rem; font-weight:bold; text-align:center; text-indent:0;}
.main .scan {margin:1.25rem auto 0; text-align:center}
.main .scan a{display:block;width:8rem; margin:0 auto }
.main .scan a::before {display:block; height:100px; margin:0 auto 1.125rem; background:url(../_img/scan.png) 50% 50% no-repeat; content:'';}
.main .info_current {margin:2.5rem auto 1.25rem;}

.main .main_menu ul {overflow:hidden; margin-left:-0.25rem;}
.main .main_menu li {margin-bottom:0.25rem; }
.main .main_menu li.dummy {display:none;}
.main .main_menu li img {display:none}
.main .main_menu li a {display:flex; height:5.9375rem; margin-left:0.25rem; align-items:center; background:#fff; text-align:center}
.main .main_menu li a span {display:block; width:100%; font-size:0.75rem; text-align:center; color:#283287; word-break:keep-all;}
.main .main_menu li a span::before {display:block; margin:0 auto 0.3125rem; width:1.625rem; height:1.625rem; border-radius:0.25rem; background:#283287; content:''}

@media(min-width:1400px){
  .main .main_menu ul {display:block; text-align:center}
  .main .main_menu li {display:inline-block; width:5.9375rem;}

}
@media(max-width:1400px){
  .main .main_menu li {float:left; width:calc(100%/6)}
}
@media(max-width:600px){
  .main .main_menu li {float:left; width:calc(100%/5)}
}
@media(max-width:500px){
  .main .main_menu li {float:left; width:calc(100%/4)}
}
@media(max-width:400px){
  .main .main_menu li {float:left; width:calc(100%/3)}
}
@media(max-width:300px){
  .main .main_menu li {float:left; width:calc(100%/2)}
}
@media(max-width:220px){
  .main .hd_cont {height:4rem}
  .main .hd_cont .user {width:100%; margin-bottom:0.8rem; text-align:center; padding-bottom:0.5rem; border-bottom:1px solid rgba(255,255,255,0.2)}
  .main .hd_cont .user .thumb  {width:1.5rem; margin-right:0.3rem}
  .main .hd_cont .user .userid {line-height:1.5rem}
  .main .main_menu li {float:left; width:100%}
}


.receive .qrcode {width:9.75rem; margin:0 auto; padding:1.125rem 2rem 2rem; background:#fff; border-radius:1.5625rem; text-align:center;}
.receive .qrcode strong {display:block; margin-bottom:2rem; font-size:0.8rem; color:#222; }
.receive .wrap_btn {margin-top:1.25rem;}
.receive .wrap_btn button + button {margin-top:0.875rem}

.change .info_current {padding:1.625rem 0; background:rgba(255,255,255,0.2)}
.change .wrap_frm {margin-top:1rem;}

.affiliate_list .list_affiliate li + li {margin-top:0.375rem;}
.affiliate_list .list_affiliate li a {display:block; padding:0.875rem;  background:rgba(255,255,255,0.2);overflow:hidden;}
.affiliate_list .thumb {float:left; width:4.625rem; height:4.625rem; margin-right:0.375rem; border-radius:100%; overflow:hidden;}
.affiliate_list .cont {overflow:hidden; font-size:0.8rem; line-height:1.3}
.affiliate_list .cont .tit {line-height:1.375rem; margin-bottom:0.5rem;}
.affiliate_list .cont .tit strong {display:inline-block; font-size:1.1rem; font-weight:bold; vertical-align:top;}
.affiliate_list .cont .tit span {display:inline-block; vertical-align:top; margin-left:0.3125rem; opacity:0.7}
.affiliate_list .cont .ico_comm {width:0.75rem; height:0.75rem; margin:0.25rem 0.25rem 0 0;}

.affiliate_view .thumb img {width:100%}
.affiliate_view .hd {text-align:center; padding-bottom:0.625rem; margin-bottom:0.625rem; border-bottom:1px solid rgba(255,255,255,0.8)}
.affiliate_view .hd .tit {font-size:1.2rem; font-weight:bold;}
.affiliate_view .hd .cate {font-size:0.8rem; opacity:0.8}
.affiliate_view .cont {line-height:1.3}
.affiliate_view dl + dl {margin-top:0.625rem;}
.affiliate_view .cont dt.ico_comm,
.affiliate_view .cont dt.ico_bfr::before  {width:0.625rem; height:0.625rem; margin-top:0.3125rem; content:''}
.affiliate_view .cont dd {display:inline;}
.affiliate_view .cont dt.ico_bfr::before {margin-right:0.1875rem}
.affiliate_view .cont dt.ico_bfr + dd {font-size:0.8rem}
.affiliate_view .map {margin-top:0.625rem;}
.affiliate_view .root_daum_roughmap {width:100%}
.affiliate_view .root_daum_roughmap .wrap_controllers {display:none}
.affiliate_view .wrap_btn {margin-top:1.25rem; text-align:right;}

.shop .list_goods {overflow:hidden; margin-left:-0.625rem;}
.shop .list_goods li {float:left; width:50%; margin-bottom:0.625rem;}
.shop .list_goods li a {display:block; margin-left:0.625rem;}
.shop .list_goods .thumb {height:9.375rem;}
.shop .list_goods .cont {background:rgba(255,255,255,0.2); padding:0.625rem; text-align:center; line-height:1.3; font-size:0.8rem;}
.shop .list_goods .cont .tit {display:block; margin-bottom:0.3125rem; font-weight:normal;}
.shop .list_goods .cont .price {font-weight:bold; font-size:1rem;}
.shop .list_goods .cont .price em {font-weight:normal; font-size:0.75rem;}

.asset #contents {padding:0.875rem 0.875rem 7.1875rem; background:#e4e4e4; color:#222}
.asset .hd_asset {background:#1a2751; border-radius:0.3125rem; color:#fff}
.asset .hd_asset dl {padding:1.25rem 0.875rem; }
.asset .hd_asset dt::before {width:0.75rem; height:0.75rem; margin:0.4375rem 0.3125rem 0 0; content:''}
.asset .hd_asset dd {margin-top:2.5rem;text-align:right;}
.asset .hd_asset dd em {font-size:0.75rem; }
.asset #contents.fix {padding-top:200px}
.asset #contents.fix .hd_asset {position:fixed; top:0; left:0; width:100%; border-radius:0}
.asset #contents.fix .hd_asset dl {padding:0 0.875rem; line-height:3.4375rem; overflow:hidden;}
.asset #contents.fix .hd_asset dt {float:left;}
.asset #contents.fix .hd_asset dt::before {margin-top:1.3125rem;}
.asset #contents.fix .hd_asset dd {overflow:hidden; margin:0}
.asset .tit_list {margin:0.625rem 0; padding-left:0.3125rem;}
.asset .tit_list * {display:inline-block; line-height:1.5625rem; vertical-align:top;}
.asset .tit_list strong::before {display:inline-block; width:0.1875rem; height:0.75rem; margin-right:0.3125rem; background:#283287; content:''}
.asset .tit_list span {margin-left:0.3125rem; font-size:0.75rem; opacity:0.6;}
.asset .list_asset {background:#fff; border-radius:0.25rem; box-shadow:1px 1px 0.125rem rgba(0,0,0,0.1); padding:0 0.375rem;}
.asset .list_asset li + li {border-top:1px solid #eee}
.asset .list_asset a {display:block; padding:1rem 0.875rem; overflow:hidden;}
.asset .list_asset .item {float:left; overflow:hidden;}
.asset .list_asset .item .thumb {float:left; width:1.625rem; height:1.625rem; margin:0.25rem 0.625rem 0 0; border-radius:100%; overflow:hidden;}
.asset .list_asset .item .tit {overflow:hidden; line-height:1.1}
.asset .list_asset .item .tit strong {display:block; font-weight:bold}
.asset .list_asset .item .tit span {font-size:0.75rem; color:#999}
.asset .list_asset .price {overflow:hidden; text-align:right; line-height:1.1}
.asset .list_asset .price strong {display:block;}
.asset .list_asset .price span {font-size:0.75rem; color:#999}
