$wrap-width:100%;
$wrap-height:100%;
$bg:red;



.scale{
  transform: scale(1.5);
}

  .wrapper {
    width: $wrap-width;
    height: 100vh;
    background-image: url('../img/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;

     
  .inner {
    width: 77%;
    height: 621px;
    display: flex;
    justify-self: space-around;
    margin: auto;
  }

   .container {
      width: 50%;
      height: 621px;
      float: left;
    };


  }
  

  #icon ul {
    width:  $wrap-width;
    height:  $wrap-height;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

 
  .container_b {
    float: right;
    width: 50%;
    margin-top: 57px;
    height: $wrap-height;
  }
  
 
  
  /*#mask{
  position: absolute;
  width:100%;
  height:100vh;
  top:0;
  background-color:rgba(0, 0, 0, 0.5);
  }*/
  
  
  
  
  .container_right {
    width: 50%;
    height: $wrap-height;
    float: right;
    background: red;
  }

  #container_left {
    float: left;
    width:  $wrap-width;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

 
  
  #subject {
    width: $wrap-width;
    height: 147px;
    font-size: 8.750em;
    font-weight: 900;
    color: white;
    margin-top: 124px;
  };

  #mini_message {
    width: $wrap-width;
    height: 47px;
    margin-top: 10px;
    line-height: 47px;
    font-weight: 900;
    color: white;
    margin-top: 58px;
  };
  
  #view_more {
    width: $wrap-width;
    height: 23px;
    margin-top: 65px;
    line-height: 23px;
    font-weight: 900;
    color: white;
  };

    
  #slide_button {
    width: 14.79289940828%;
    height: 33px;
    position: relative;
  };
  
  
}
  
 
  #menu, #icon {
    width: 8%;
    height: $wrap-height;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 900;
    justify-content: space-between;
  }




  
  header {
    width: 77%;
    margin: auto;
    position: fixed;
    z-index: 99;
    left: 11%;
    top: 63px;
    height: 45px;
    display: flex !important;
    justify-content: space-between;

  
    #subject {
      width: 15%;
      height: $wrap-height;
      color: white;
      font-weight: 900;
      font-size: 2.25em;
      display: flex;
      justify-content: space-around;
      align-items: center;
    };
    

  }
  

 