  /*CTRL + F : 문자열 찾기 
CTRL + G : 줄 찾기 */


  * {
      color: #222328;
      list-style: none;
      text-decoration: none;
  }

  /*전체적용*/

  body {
      background: #ffffff;
      width: 100%;
      /*브라우져 전체 넓이 */

  }


  .background_a {
      width: 100%;
      height: 300px;
      background-image: url('../img/20171026164444.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      /*원본사이즈 :contain , cover:꽉채움*/
      background-position: center;
      background-color: #ABACC3;
  }


  .bx-wrapper {
      height: 100%;
      border: unset !important;
      box-shadow: unset !important;
      overflow-y: hidden;
  }

  .sub_menu_article {
      display: none;
      /*영역 삭제*/
  }

  #wrapper {
      width: 1200px;
      height: 700px;
      margin: auto;
      /*여백 자동 설정*/
  }

  header {
      width: 100%;
      height: 100px;
      border: 1px solid black;
      box-sizing: border-box;
  }

  #logo {
      width: 15%;
      height: 100%;
      float: left;
      border-right: 1px dotted black;
      box-sizing: border-box;
  }

  #menu {
      width: 85%;
      height: 100%;
      float: right;
      /*방향 정렬하는 속성*/
  }

  .container3 {
      height: 300px;
      width: 100%;
      border: 1px solid black;
      border-top: unset !important;
      /*
      important: 우선순위를 부여하여 가장 먼저 css를 적용시킴 
      */
      box-sizing: border-box;
  }

  .gallery {
      width: 100%;
      height: 200px;
      /*display: flex;
      /*부모 크기에 맞춰서 자식요소를 자동적으로 너비를 조절하는 속성*/
      /*justify-content: space-between;
      /*flex 속성에서만 사용할수있는 안쪽 여백 자동조절 속성*/
      /*justify-content: space-around;
      flex 속성에서만 사용할수있는 바깥 여백 자동조절 속성
      */
  }

  .gallery nav {
      float: left;
  }

  .gallery nav:nth-child(3) {
      float: right !important;
  }

  /*3번째 자식요소를 찾아서 , 속성을 적용 */

  #notice {
      width: 33.33%;
      height: 100%;
      border: 1px solid black;
      border-top: unset !important;
      border-right: 1px dotted black;
      box-sizing: border-box;
  }

  #banner {
      width: 33.33%;
      height: 100%;
      border: 1px solid black;
      border-top: unset !important;
      border-right: 1px dotted black;
      box-sizing: border-box;
      border-left: unset !important;
  }

  #quick {
      width: 33.33%;
      height: 100%;
      border: 1px solid black;
      box-sizing: border-box;
      border-top: unset !important;
      border-left: unset !important;
  }

  #sub_menu {
      width: 60%;
      background: white;
      float: right;
      margin-top: 20px;
      margin-right: 20px;
  }

  footer {
      width: 100%;
      height: 100px;
      border: 1px solid black;
      box-sizing: border-box;
      border-top: unset !important;
  }

  footer nav {
      float: left;
  }

  .footer_logo {
      width: 15%;
      height: 100%;
      border-right: 1px dotted black;
      box-sizing: border-box;
  }

  .copyright {
      width: 70%;
      height: 100%;
      border-left: unset !important;
      box-sizing: border-box;
  }

  .sns {
      width: 15%;
      height: 100%;
      border-left: 1px dotted black;
      box-sizing: border-box;
  }

  .sub_menu_header ul li:nth-child(4) {
      border-right: unset !important;
  }

  .sub_menu_header {
      width: 100%;
      height: 50px;
      border: 1px solid black;
      box-sizing: border-box;
      border-top: unset !important;
      border-left: unset !important;

  }

  .sub_menu_header ul {
      height: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between;
  }

  .sub_menu_header ul li:nth-child(1),
  .sub_menu_header ul li:nth-child(2),
  .sub_menu_header ul li:nth-child(3) {
      border-right: 0.5px !important;
  }

  .sub_menu_header ul li:nth-child(4) {}

  .sub_menu_header ul li a {
      display: block;
      /*고정 속성*/
      width: 100%;
      height: 100%;
  }

  .sub_menu_header ul li a:hover {
      background: black;
      color: white !important;
  }

  .sub_menu_header ul li {
      list-style: none;
      /*li 목록 태그의 .을 없애줌*/
      width: 25%;
      text-align: center;
      line-height: 49px;
      border-right: 1px solid black;
      border-top: 1px solid black;
      border-left: 1px solid black;
      box-sizing: border-box;
  }

  .sub_menu_article {
      width: 100%;
      height: 130px;
      border: 1px solid black;
      border-top: unset !important;
      box-sizing: border-box;
      z-index: 99;
      position: relative;
      background-color: white:
  }

  .hidden {
      position: absolute;
      width: 50%;
      left: 0;
      height: 300px;
      visibility: hidden;
      /*영역은 존재하지만 보이지 않음*/
  }

  .sub_menu_article ul {
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      background: white;
      justify-content: space-between;
  }

  .sub_menu_article ul li {
      width: 25%;
      display: flex;
      flex-direction: column;
      /*세로방향*/
      justify-content: space-between;
      list-style: none;
      height: 100%;

      border-right: 1px solid black;
      box-sizing: border-box;
  }

  .sub_menu_article ul li a {
      display: block;
      width: 100%;
      height: 100%;
  }


  .sub_menu_article ul li a:hover {
      background: black;
      color: white;
  }

  .sub_menu_article ul li:nth-child(4) {
      border-right: unset !important;
  }

  .sub_menu_article ul li ol {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 32.5px;
  }

  .tab_area {
      width: 100%;
      margin: 0 auto;
  }

  .tab {
      height: 26px;
      width: 100%;
      padding: 0;
  }

  .tab li {
      float: left;
      width: 30%;
      border: 1px solid black;
      border-bottom: unset !important;

  }

  .tab li:nth-child(1) {
      margin-left: 10px;
  }

  .tab li a {
      display: block;
      padding: 0 20px;
      line-height: 40px;

  }

  hr {
      height: 25px;
  }

  .left {
      width: 95%;
      height: 1px;
      display: block;
      border-bottom: 1px solid black;
      transform: rotate(220deg);
      position: absolute;
      top: 38px;
  }

  .right {
      width: 95%;
      height: 1px;
      display: block;
      border-bottom: 1px solid black;
      transform: rotate(1220deg);
      position: absolute;
      top: 38px;
  }

  .out {
      width: 90%;
      margin: auto;
      height: 150px;
      position: relative;
      display: flex;
      float: none !important;
      justify-content: space-between;
  }

  #panel2 {}

  #panel2 div {
      width: 28%;
      position: relative;
      height: 50%;
      border: 1px solid black;
      box-sizing: border-box;
      margin-top: 20px;
  }


  div#panel1 input {
      width: 100%;
      padding: 0;
      height: 30px;
      border: none;
      border-bottom: 1px solid black !important;
  }

  #layerPopup,#layerPopup_02,#layerPopup_03{
      width: 30%;
      position: absolute;
      height: 300px;
      border: 1px solid black;
      background: white;
      top:80px;
      left:35%;
      z-index: 99;
  }

  .panel {
      height: 120px;
      width: 95%;
      margin: auto;
      color: white;
      position: relative;
      margin-top: -2px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      border-top: 0.5px solid black;
  }